<div class="more">
  <div class="map-info">
    <div class="map">
      <p>KLUB</p>
      <a href="about.html">O nás</a>
      <a href="news.html">Novinky</a>
      <a href="news.html?9">Historie</a>
    </div>

    <div class="map">
      <p>SOCIÁLNÍ SÍTĚ</p>
      <a href="https://www.facebook.com/fotbal.hostivice" target="_blank">Facebook</a>
      <a href="https://www.youtube.com/user/maldovo" target="_blank">Youtube</a>
      <a href="https://www.instagram.com/fotbalhostivice/" target="_blank">Instagram</a>
    </div>

    <div class="map">
      <p>MUŽSTVA</p>
      <a href="teams.html">Soupisky</a>
      <a href=https://souteze.fotbal.cz/turnaje/zapas/87439515-fa0c-4fd2-a4e5-9c8c6b344bf5" target="_blank">Výsledky</a>
      <a href="fotogalerie.html">Fotogalerie</a>
    </div>

    <div class="map">
      <p>KONTAKTY</p>
      <a href="contact.html">Trenéři</a>
      <a href="dormitory.html">Ubytovna</a>
    </div>
  </div>
</div>


<div class="sponsors">
  <a href=""><img src="http://fotbalhostivice.cz/img/sportfotbal1.png" width="120px"/></a>
  <a href=""><img src="http://fotbalhostivice.cz/img/malik.png" width="120px" /></a>
  <a href=""><img src="http://fotbalhostivice.cz/img/risl.png" width="120px" /></a>
</div>

<div class="author">
  <p class="author-c">TJ Hostivice © 2017 All rights reserved</p>
  <p class="author-a">Create by <a href="http://danielpudil.cz" target="_blank">Daniel Pudil</a></p>
</div>
